#Experience {
  background-color: transparent;
  position: relative;
  top: -70px;
  height: 400px;
  max-width: 1270px;
  left: 20px;
}

#Years {
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  width: 600px;
  position: relative;
  left: 60px;
}
#tCol {
  max-width: 700px;
  position: relative;
  left: -10px;
}

#eCol {
  max-width: 700px;
}
.propYear {
  text-align: center;
}

.propText {
  text-align: center;
  text-indent: 18px;
}

.hr {
  border: 5px solid #e38443;
}

#experienceTag {
  list-style: none;
  position: relative;
  left: -240px;
  display: inline;
}

#experienceTag li:nth-child(1){
  transform: rotate(-90deg);
  position: relative;
  top: -235px;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 500;
  left: 9px;
}

#experienceTag li:nth-child(2) {
  border-left: 2px solid #5f5f5f;
  height: 50px;
  position: relative;
  left: 312px;
  top: 70px;
}

#etextArea {
  position: relative;
  left: 82px;
  top: -111px;
}

#etextArea p{
  text-indent: 30px;
  max-width: 400px;
}


@media only screen and (max-width: 1024px) {
  #experienceTag li:nth-child(1){
    top: -130px;
    left: 126px;
  }
  #Experience {
    max-width: 1000px;
  }
}
@media only screen and (max-width: 768px) {
   #Experience {
     display: inline;
     position: relative;
     top: 300px;
   }
   #eCol {
     position: absolute;
     top: 200px;
   }
   #experienceTag li:nth-child(1){
     top: -88px;
     transform: rotate(0deg);
     left: 271px;
     border-bottom: 2px solid #5f5f5f;
     width: 100px;
   }
   #experienceTag li:nth-child(2) {
     display: none;
   }
   #etextArea {
    left: 18px;
    top: -60px;
    height: 500px;
   }
   #Years {
    left: 30px;
    top: 20px;
   }
}

@media only screen and (max-width: 425px) {
  #Experience {
    top: 1475px;
  }
  #experienceTag li:nth-child(1) {
    font-size: 32px;
    width: 190px;
  }
  #etextArea{
    height: 300px;
  }
  #etextArea h2 {
    font-size: 60px;
    min-width: 700px;
  }
  #etextArea p{
    font-size: 33px;
    min-width: 700px;
  }
  #Years {
    display: inline;
    top: 400px;
    min-height: 300px;
    width: 100px;
  }
  #eCol {
    height: 300px;
    min-height: 300px;
    min-width: 400px;
  }
  #outterE {
    display: none;
  }
  #tCol {
    height: 600px;
  }
}


@media only screen and (max-width: 320px) {
  #tCol {
    top: 300px;
  }
}

@media only screen and (min-width: 2560px) {
    #tCol {
      position: relative;
      left: 750px;
    }
    #eCol {
      left: 500px;
    }
}