#FooterSection {
  background-color: transparent;
  width: 101.1%;
  height: 70px;
  position: absolute;
  top: 3640px;
}
#Fname {
  display: flex;
  position: absolute;
  margin-left: 8%;
  margin-top: 3.6%;
}

#Fname h1 {
  font-size: 160%;
  font-family: 'DM Sans', sans-serif;
  position: relative;
  top: -15px;
}

#FsquareName {
  color: #e38443;
  font-size: 38%;
  margin-top: 1.2%;
  position: relative;
  left: .75%;
}

#theSign {
  display: flex;
  position: relative;
  left: 900px;
  top: 20px;
}

#theSign h2{
  font-family: 'DM Sans', sans-serif;
}

#theSign p{
  font-family: 'Cedarville Cursive', cursive;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  position: relative;
  top: 7px;
  left: 10px;

}

@media only screen and (max-width: 1024px) {
  #theSign {
    position: relative;
    left: 680px;
  }
  #FooterSection {
    top: 3830px;
  }
  body {
    min-height: 2000px;
  }
}

@media only screen and (max-width: 768px) {
  #FooterSection {
    top: 4600px;
  }
  #theSign {
    left: 500px;
  }
  body {
    min-height: 3500px;
  }
}

@media only screen and (max-width: 425px) {
  #FooterSection {
    top: 8650px;
  }
}

@media only screen and (max-width: 320px) {
  #FooterSection {
    top: 9000px;
  }
  #theSign {
    left: 400px;
  }
}



@media only screen and (min-width: 2560px) {
  #FooterSection {
    top: 4000px;
  }
  #theSign {
    left: 1800px;
  }
}