#formSection {
  max-width: 1300px;
  margin-top: 100px;
  height: 600px;
}

#formTag {
  list-style: none;
  position: relative;
  top: 35px;
  left: 92px;
}

#formTag li:nth-child(1){
  transform: rotate(-90deg);
  font-weight: 500;
} 

#formTag li:nth-child(2){
  border-left: 2px solid #5f5f5f;
  height: 50px;
  position: relative;
  left: 35px;
  top: 40px;
}

#formText {
   max-width: 400px;
   position: relative;
   left: 65px;
}

#formText p{
  max-width: 500px;
  position: relative;
  top: 0px;
}

#formText h2 {
  display: inline;
}



#formforMessage {
  background-color: white;
  min-width: 440px;
  height: 528px;
  border-radius: 10px;
  box-shadow: 5px 10px blur;
  position: relative;
  left: 240px;
}
#formforMessage div:nth-child(1){
  margin-top: 30px;
}

#formforMessage button{
  margin: auto;
  width: 388px;
  background-color: black;
  font-weight: 700;
  font-size: 18px;
  padding: 7px;
  position: relative;
  top: 10px;
  left: 10px;
  opacity: .9;
}

#formforMessage button:hover{
  opacity: .92;
}


.theGroup {
  width: 388px;
  margin: auto;
  margin-top: 20px;
}
.textEdit {
  font-size: 13px;
  font-weight: 700;
}

.textEdit {

}

#messageSection {
  height: 120px;
  word-wrap: break-word;
}


.borderStyle:focus {
  border-color: #e38443;
  box-shadow: 1px 1px 1px 1px #e38443;
}


#messageSection:focus{
  box-shadow: red;
}
#messageSection[type=text]{

}
#messageSection::placeholder {
   

}

#theAlert {
   background-color: green;
   height: 50px;
   /*opacity: .68;*/
   opacity: 0;
   border-radius: 0px;
   position: relative;
   top: 500px;
   left: 120px;
}


#theAlert p{
  color: white;
  margin-right: 20px;
}

@keyframes messageSent {
  from {opacity: 0;}

  to {opacity: 0.90;
    transform: translate3d(-140px,0,0);
    }
}

#formIcons {
  list-style: none;
  display: flex;
}
#formIcons a {
  color: white;
  position: relative;
  left: 7px;
  bottom: 4px;
}

.eachIcon:hover{
  background-color: #e38443;
}
.eachIcon {
  margin: 10px;
  background-color: black;
  font-size: 25px;
  border-radius: 20px;
  width: 38px;
  height: 38px;
}


@media only screen and (max-width: 1024px) {
  #formSection{
    margin-top: 350px;
    width: 1000px;
  }
  #formforMessage {
    left: 100px;
  }
  #formText {
    left: 15px;
  }
  #formTag {
    left: 42px;
  }
}