body {
   margin-top: -21px;
   background-color: #e6e6e6;
   height: 3740px;
}
header {
  min-height: 105px;
  top: 0;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: top 0.3s;
}
#navForA {
  position: relative;
  top: -16px;
}

#name {
  display: flex;
  position: absolute;
  margin-left: 8%;
  margin-top: 3.6%;
}

#name h1 {
  font-size: 160%;
  font-family: 'DM Sans', sans-serif;
  position: relative;
  top: -15px;
}

#squareName {
  color: #e38443;
  font-size: 38%;
  margin-top: 1.2%;
  position: relative;
  left: .75%;
}
@media only screen and (min-width: 425px) {

}

#nav-bar {
  display: flex;
}

#nav-bar a {
  text-decoration: none;
  color: black;
  margin: 16px;
  font-family: "Poppins", sans-serif;
}
#nav-bar ul {
  list-style: none;
  display: flex;
  position: relative;
  margin: 0 auto;
  margin-top: 37px;
}

#nav-bar li{
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 105%;
}

#nav-bar li:hover {
  text-decoration: underline solid #e38443 2.7px;
}

.squareNav {
  font-size: 20%;
  position: relative;
  left: .75%;
  top: 2.5px;
}

@media only screen and (max-width: 1024px) {
  #name h1 {
    font-size: 130%;
  }
  #squareName {
    margin-top: -.5%;
  }

}

@media only screen and (max-width: 768px) {
  #nav-bar ul {
    display: none;
  }
  #nav-bar {
    background-color: white;
    height: 2px;
    width: 900px;
    min-height: 80px;
  }
  #name h1 {
    position: relative;
    top: 10px;
  }
  #ScrollSection {
    display: none;
  }
  #MiddleSection {
    margin: auto 0;
  }
  #squareName {
    margin-top: 15.8%;
  }
}

@media only screen and (max-width: 425px) {
  #name h1 {
    top: 34px;
    font-size: 50px;
    font-weight: 500;
  }
  #squareName {
    margin-top: 18.5%;
    font-size: 14px;
  }
  #nav-bar {
    height: 135px;
  }
}

@media only screen and (min-width: 2560px) {
   #name {
    margin-left: 7%;
    margin-top: 2%;
  }
}
