#welcomePage {
  background-color: transparent;
  min-height: 580px;
  display: flex;
}

#SideIconLinks {
  
}

#SideIconLinks ul {
  margin-top: 605%;
  margin-left: -20%;
}
#SideIconLinks li {
  margin-top: 70%;
  list-style: none;
}

.iconImage {
  font-size: 115%;
  color: #5f5f5f;
}

#verticalLine {
  border-left: 2px solid #5f5f5f;
  height: 50px;
  margin-left: 25%;
}


/* Icon change color after hover*/
#firstH:hover #firstI{
  color:#e38443;
}



#secondH:hover #secondI{
  color:#e38443;
}

#thirdH:hover #thirdI{
  color:#e38443;
}

#LinkedinPop {
  position: absolute;
  left: 8%;
  top: 80.6%;
  opacity: 0;
}

#TwitterPop {
  position: absolute;
  left: 8%;
  top: 73.2%;
  opacity: 0;
}

@keyframes IconAima {
  from {opacity: 0;}

  to {opacity: 1;
     transform: translate3d(-20px,0,0);}
}


#GithubPop {
  position: absolute;
  left: 8%;
  top: 66.3%;
  opacity: 0;
}









.notePop{
  background-color: #e38443;
}







#MiddleSection {
  width: stretch;
}

#splashImage {
  width: 60%;
  height: 95%;
  background-image: url(../images/splash.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 1% auto;
}

#myImage {
   
}

#textforintro {
  background-color: transparent;
  width: 500px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  top: 280px;
}

#textforintro {
   font-family: 'DM Sans', sans-serif;
   font-size: smaller;
   color: white;
   text-align: center;
}

#textforintro h1{
  font-weight: 1000;
  font-size: 50px;
  text-shadow: 1px 1px black;
}

#getintouch {
   background-color: transparent;
   border-color: white;
   padding: 8px 24px;
   box-shadow: none;
}

#getintouch:hover {
  background-color: white;
  color: black;
}

#getintouch:active {
  box-shadow: 1px 1px 1px 1px #e38443;
}




#ScrollSection {
  background-color: transparent;
  width: 6%;
}

#ScrollSection ul {
  list-style: none;
  margin-top: 470%;
}

#ScrollSection #scrollText {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1px;
  color: #5f5f5f;
  transform: rotate(90deg);
}

#ScrollSection a {
  text-decoration: none;
}

#verticallineScroll {
  border-left: 2px solid #5f5f5f;
  height: 50px;
  margin-left: 47%;
  margin-top: 120%;
  color: #5f5f5f;
}


@keyframes blackColor {
  from {
     color: #5f5f5f;
  }

  to {
    color: black;
  }
}

#ScrollSection #scrollText:hover{
  animation: blackColor 1s;
  animation-fill-mode: forwards;
}

/* Links */

#LinksS {
  background-color: transparent;
  height: 300px;
}
#CardRow {
  height: 100%;
  width: 100%;
  position: relative;
  top: 100px;
  display: flex;
}
#CardRow a {
  text-decoration: none;
}
#theContainer {
   width: 100%;
}

#ExperenceCard {
  width: 35%;
  height: 140px;
  border-radius: 10px;
  position: relative;
  left: 13%;
}

@keyframes moveUp {
  from {
    top: 0px;
  }
  to {
    top: -14px;
  }
}
#ExperenceCard:hover {
  animation: moveUp .3s forwards;
}

#ProjectCard {
  width: 35%;
  height: 140px;
  border-radius: 10px;
  position: relative;
  right: -19%;
}

#ProjectCard:hover {
  animation: moveUp .3s forwards;
}

.insideCard {
  display: flex;
}

#backgroundEmblem {
  background-color: black;
  width: 19%;
  height: 70px;
  border-radius: 120px;
  position: relative;
  left: 9%;
  top: 30px;
}
#backgroundEmblem img{
  position: relative;
  left: 16%;
  top: 8px;
}
#backgroundCheck {
  background-color: #e38443;
  width: 19%;
  height: 70px;
  border-radius: 120px;
  position: relative;
  left: 9%;
  top: 30px;
}

#backgroundCheck img{
  width: 80%;
  position: relative;
  left: 11.5%;
  top: 5.5px;
}

.rightExperience {
  position: relative;
  top: 23px;
  left: 19%;
}

.rightExperience h2{
  color: #e38443;
  position: relative;
  left: 30%;
  top: 3px;
  font-size: 37px;
}

.rightExperience p {
  color: black;
  font-weight: 600;
  font-size: 18px;
}

.arrowIcon {
  color: #5f5f5f;
  font-size: 16px;
  position: relative;
  left: 26%;
  top: 60px;
}

@media only screen and (max-width: 1024px) {
  #textforintro h1{
    font-size: 40px;
  }
   #splashImage {
     width: 80%;
  }
  #verticallineScroll {
    margin-top: 300%;
  }
  #backgroundEmblem {
    height: 66px;
    width: 21%;
  }
  #backgroundEmblem img{
    left: 13.8%;
  }

  #backgroundCheck {
    height: 66px;
    width: 21%;
  }
  #backgroundCheck img{
    left: 11%;
  }

  .rightExperience {
    left: 15%;
  }
  .rightExperience h2{
    font-size: 35px;
  }

  .rightExperience p{
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  #SideIconLinks {
    display: none;
  }
  #textforintro h1 {
    color: black;
    text-shadow: 0px 0px black;
  }
  #getintouch {
    color: black;
    border-color: black;
  }
  #MiddleSection {
    position: relative;
    left: -2%;
  }
  #splashImage {
    height:70%;
    width: 40%;
    position: relative;
    left: 10%;
  }
  #textforintro {
    position: relative;
    left: -30%;
  }
  #ExperenceCard {
    width: 47%;

  }
  #ProjectCard {
    width: 47%;
  }
  #CardRow {
    left:-2%;
  }
}

@media only screen and (max-width: 425px) {
  #splashImage {
    height: 700px;
    width: 200%;
  }
  #textforintro {
    top: 450px;
    left: 1%;
  }
  #textforintro h1 {
    font-size: 70px;
  }
  #getintouch {
    height: 70px;
    font-size: 37px;
  }
  #CardRow {
    display: inline;
  }
  
  #ExperenceCard {
    width: 205%;
    height: 230px;
    position: relative;
    left: 40px;
    border-radius: 15px;
  }
  #ProjectCard {
    width: 205%;
    height: 230px;
    position: relative;
    top: 40px;
    left: 40px;
    border-radius: 15px;
  }

  #backgroundEmblem {
    height: 140px;
    width: 18%;
  }

  #backgroundEmblem img{
    width: 75%;
    height: 87px;
    top: 26px;
    left: 13%;
  }
  #backgroundCheck {
    height: 140px;
    width: 18%;
  }
  #backgroundCheck img{
    top: 13px;
  }
  .rightExperience h2{
    font-size: 62px;
  }
  .rightExperience p{
    font-size: 40px;
  }
  .rightExperience {
    left: 22%;
  }
  .arrowIcon {
    font-size: 30px;
    left: 30%;
    top: 84px;
  }
}

@media only screen and (max-width: 375px) {
  #ExperenceCard {
    width: 230%;
    left: 50px;
  }
  #ProjectCard {
    width: 230%;
    left: 50px;
  }
  #splashImage {
    margin-left: 34px;
  }

}

@media only screen and (max-width: 320px) {
  #splashImage {
    width: 240%;
  }
  #ExperenceCard {
    width: 270%;
  }
  #ProjectCard {
    width: 270%;
  }
}