#workSection {
  height: 500px;
}
#theTextArea {
  display: inline;
}

#workTag {
  list-style: none;
  position: relative;
  top: 35px;
  left: 28px;
  max-height: 150px;
}

#workTag li:nth-child(1){
  transform: rotate(-90deg);
  font-weight: 500;
}

#workTag li:nth-child(2) {
  border-left: 2px solid #5f5f5f;
  height: 50px;
  position: relative;
  left: 40px;
  top: 50px;
}

#workSection {
  width: 1300px;
}
#workText {
  max-width: 350px;
  max-height: 200px;
  position: relative;
  left: -40px;
}
#workText p{
  max-width: 400px;
}

#workSection {
  grid-template-columns: auto auto;
  grid-column-gap: 35px;
}

#projectCard {
  width: 250px;
  height: 400px;
  border-radius: 20px;
  background-image: url("http://placehold.jp/250x400.png");
}
#projectCard:hover {
    transform: skewX(.5deg);
    opacity: .9;
}

#projectCard a{
  text-decoration: none;
  color: black;
  background-color: #e6e6e6;
  width: 60%;
  position: relative;
  left: 10px;
  border-radius: 5px;
  margin-top: 20px;
  opacity: 0;
}

#projectCard a div{
  text-align: center;
}

@keyframes appear {
  from {
    opacity: 0;
    margin-top: 20px;
  }
  to {
    opacity: 1;
    margin-top: 15px;
  }
}
#projectCard:hover a{
  animation-name: appear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#linkCard {
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
    #workSection {
      width: 1000px;
    }
    #workSection a:nth-child(5) {
      position: relative;
      left: 100px;
    }
}


@media only screen and (max-width: 768px) {
  #workSection {
    margin-top: 320px;
    max-width: 748px;
  }
  #workSection a:nth-child(5) {
    left: 100px;
  }
  #workSection a:nth-child(4){
    position: relative;
      left: 100px;
  }
  #workTag li:nth-child(1) {
    transform: rotate(0deg);
    border-bottom: 2px solid #5f5f5f;
    position: relative;
    top: -70px;
    left: 10px;
  }
  #workText {
    position: relative;
    left: -100px;
  }


  #workTag li:nth-child(2) {
     display: none;
  }
}

@media only screen and (max-width: 425px) {
  #workSection {
    margin-top: 1370px;
  }
  #workTag li:nth-child(1) {
    font-size: 32px;
    width: 190px;
  }
  #workText {
    min-width: 300px;
    margin-top: 44px;
    margin-left: -102px;
  }
  #workText h2{
    font-size: 60px;
    min-width: 700px;
  }
  #workText p{
    font-size: 33px;
    min-width: 700px;
  }
  #workSection a:nth-child(3){
    position: absolute;
    top: 4550px;
    left: 150px;
  }
  #workSection a:nth-child(4){
    position: absolute;
    top: 5500px;
    left: 150px;
  }
  #workSection a:nth-child(5){
    position: absolute;
    top: 6450px;
    left: 150px;
  }



  #projectCard {
    width: 550px;
    height: 820px;
  }
}

@media only screen and (max-width: 320px) {
  #workSection {
    margin-top: 1650px;
  }
  #workSection a:nth-child(3){
    top: 4900px;
  }
  #workSection a:nth-child(4){
    top: 5820px;
  }
  #workSection a:nth-child(5){ 
    top: 6740px;
  }
}